body {
    background-color: rgb(233, 236, 239);
}

.nav-link {
    color: black;
    font-size: 110%;
}

.spojiih {
    position: sticky;
    top: 0;
    z-index: 100;
}

#sbar {
    border-radius: 20px;
    width: 29em;
    color: black;
    margin-top: 5px;
}

#navbarSupportedContent {
    position: sticky;
    top:0;
}

.levo {
    display: flex;
    justify-content: end;
}

#login {
    font-size: 105%;
}

.nav-link:hover {
    color: black;
}

.navbar-brand {
    color: white;
    padding-top: 0.1%;
    padding-left: 1%;
    font-size: 150%;

}

.navbar-brand:hover {
    color: white;
}


.dropdown:hover>.dropdown-menu {
    display: block;
}
  
.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

#dropdownMenuButton {
    color: black;
    font-size: 110%;
    margin: 0, 2%, 0, 2%;
}

#dropdownMenuButton:hover {
    color: black;
}

#search {
    margin-right: 20%;
}


#onama {
    text-decoration: none;
    color: black;
}

#butt {
    font-size: 120%;
    display: flex;
    justify-content: end;
}

#kolica {
    font-size: 120%;
}

#Present {
    text-align: center;
    margin-top: 2%;
    border-bottom: 1px dotted rgb(233, 236, 239);
}

.lead {
    font-size: 150%;
}

.skupkartice {
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(233, 236, 239);
}

#pnaslov {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 2%;
}

.kartice {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4%;
}

.card-body {
    padding: 4%;
}

.card-body1 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.card-body:hover {
    text-decoration: none;
}

.card {
    padding-top: 1%;
    border-radius: 10px;
    text-decoration: none;
}

.card:hover {
    transform: scale(1.01);
    text-decoration: none;
}

.card-text {
    color: gray;
    text-decoration: none;
}

#cartbut {
    padding-bottom: 4%;
    padding-top: 0;
    font-size: 130%;
    margin-right: 15%;
    padding-left: 20%;
    padding-right: 20%;
}

#sv {
    padding: 1%;
    width: 40%;
    margin-right: 7%;
}

.logofoot1 {
    color: black;
}

.logofoot1:hover {
    text-decoration: none;
    color: rgb(255, 0, 0);
    transition: 1s;
}

#vrhbut {
    display: flex;
    justify-content: end;
    margin-right: 5%;   
    color: black;
    font-size: 100%;
}

#vrhbut:hover {
    color: red;
    transition: 1s;
    text-decoration: none;
}

.proizvod {
    display: inline-block;
    margin: 7%;
    margin-top: 7%;
    margin-right: 2%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.slika {
    padding-bottom: 5%;
}

.tekst {
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 5%;
    margin-right: 20%;
    padding-bottom: 2%;
    height: 20%;
    padding-bottom: 20%     ;
}
