body {
    background-color: rgb(233, 236, 239);
}

.nav-link {
    color: black;
    font-size: 110%;
}

.spojiih {
    position: sticky;
    top: 0;
    z-index: 100;
}

#sbar {
    border-radius: 20px;
    width: 29em;
    color: black;
    margin-top: 5px;
}

#navbarSupportedContent {
    position: sticky;
    top:0;
}

.levo {
    display: flex;
    justify-content: end;
}

#login {
    font-size: 105%;
}

.nav-link:hover {
    color: black;
}

.navbar-brand {
    color: white;
    padding-top: 0.1%;
    padding-left: 1%;
    font-size: 150%;

}

.navbar-brand:hover {
    color: white;
}


.dropdown:hover>.dropdown-menu {
    display: block;
}
  
.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

#dropdownMenuButton {
    color: black;
    font-size: 110%;
    margin: 0, 2%, 0, 2%;
}

#dropdownMenuButton:hover {
    color: black;
}

#search {
    margin-right: 20%;
}

#carouselExampleIndicators {
    max-height: 550px;
    min-height: 100px;
}

#slikacar {
    max-height: 550px;
    min-height: 100px;
}

#onama {
    text-decoration: none;
    color: black;
}

#butt {
    font-size: 120%;
    display: flex;
    justify-content: end;
}

#buttt {
    font-size: 150%;
}



#kolica {
    font-size: 120%;
}

#Present {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 10%;
    border-bottom: 1px dotted rgb(233, 236, 239);
}

.lead {
    font-size: 150%;
}


#pnaslov {
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
}

.kartice {
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(233, 236, 239);
    display: flex;
    justify-content: space-around;
    margin-bottom: 4%;
}

.card-title {
    color: black;
}

.card-title:hover {
    color: black;
}

.card-body {
    padding: 5%;

}

.card-body1 {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.card-body:hover {
    text-decoration: none;
}

.card {
    padding-top: 1%;
    border-radius: 10px;
    text-decoration: none;
}

.card:hover {
    transform: scale(1.01)
}

.text-muted {
    color: gray;
    text-decoration: none;
}

#productpage {
    display: flex;
    justify-content: space-around;
    min-width: 50%;
    font-size: 20px;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 9%;
    margin-bottom: 2%;
}

.daprobamnesto {
    margin-left: 5%;
}

#maker {
    font-size: 12px;
    border-bottom: .5px solid rgb(210, 210, 210);
    padding-bottom: .2%;
    width: fit-content;
}

#slika {
    border-radius: 20px;
    height:465px;
}

#kupi {
    position: relative;
    left: 0;
    margin-top: 5px;
    margin-left: .5%;
    line-height: 1;
    font-size: 20px;
    margin-bottom: 2%;
}

#kolicina {
    text-align: center;
    width: 15%;
    height: 10%;
    border-radius: 10px;
    margin-bottom: 2%;
}

#kolicinahead {
    font-size: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.zinfo {
    border-bottom: 1px solid rgb(196,196,196);
}

.test {
    margin: auto;
}

.cena {
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
}

#rsd {
    padding-top: 0;
}

#kg {
padding-top: 1.5%
}

.productatc {
    color: white;
    height: 20%;
    padding: 2%;
    padding-bottom: 2%;
    width: 45%;
    border: 1px solid black;
    border-radius: 7px;
    background-color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.productatc:hover {
    background-color: white;
    border: 1px solid red;
    color: red;
    transition: .4s;
}

#producthead {
    text-decoration: underline;
    width: 118.5%;
    margin-right: 20%;
    font-size: 150%;
}

#proizvodi:hover {
    text-decoration: none;
}

#cartbut {
    bottom: 0;
    font-size: 80%;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: white;
    border: 1px solid black;
    bottom: 0;
}

#cartbut:hover {
    border: 1px solid red;
    color: red;
    transition: .5s;
}

.indexcena {
    text-align: center;
}

#sv {
    padding: 1%;
    width: 40%;
    margin-right: 7%;
}

.logofoot1 {
    color: black;
}

.logofoot1:hover {
    text-decoration: none;
    color: rgb(255, 0, 0);
    transition: 1s;
}

#vrhbut {
    display: flex;
    justify-content: end;
    margin-right: 5%;   
    color: red;
    font-size: 250%;
    padding: 0;
}

#vrhbut:hover {
    color: rgb(163, 0, 0);
    transition: 1s;
    text-decoration: none;
}

.modal-header {
    background-color: red;
    color: white;
}


.login, .login1 {
    margin-left: 20%;
}

#lgbut {
    margin-top: 5%;
    margin-bottom: 10%;
    color: white;
    background-color: red;
    border-radius: 5px;
    border: 0px;
    padding: 1% 2% 1% 2%;
}

#lgbut:hover {
    background-color: rgb(155, 0, 0);
    transition: 0.2s;
    border: 0px;
}


#reglink {
    margin-left: 15%;
}

.close {
    color:black;
}

#cartbut1 {
    margin-top: 2%;
    width: 80%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 20px;
}

.path {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 4%;
    font-size: 120%;
}

.kocka {
    border-top: .5px solid rgb(214, 214, 214);
    border-bottom: .5px solid rgb(214, 214, 214);
    width: 90%;
}

.kocka1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#hzp {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

#hzp:hover {
    color:red;
}

#viseop:hover {
    background-color: white;
    color: black;
    transition: .1s;
}

.infop {
    padding: 0;
    text-align: start;
    margin-left: 5%;
    margin-bottom: 0%;
    margin-right: 5%;
    padding-top: 20px;
    border-top: .5px rgba(150, 150, 150, 0.513) solid;
}

#cbody {
    padding-top: 2%;
    background-color: rgb(233, 236, 239);
    border: none;
    margin-bottom: 0%;
    border-radius: 5%;
    color: black;
}

#cbody:hover {
    color:none;
    transition:none;
    transform: none;
}

.josproizvoda {
    display: flex;
    justify-content: start;
    padding-left: 2%;
    margin-bottom: 2%;
}

.josproizvoda1 {
    padding-top: 0%;
    margin-top: 2%;
}

#cardp {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 4%;
    width: 80%;
    min-height: 100%;
}

#preporuka {
    margin-left: 2%;
}

#preporuka1 {
    padding-top: 2%;
    margin-left: 2%;
}

.korpahead {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

#onamahead {
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom:4%;
}

.mapa {
    margin-bottom: 2%;
    margin-top: 1%;
}

.onamapage {
    font-size: 20px;
    margin-left: 3%;
    margin-top: 1%;
    line-height: 1.5;
}

#onamapic {
    display: flex;
    float: left;
    width: 40%;
    min-width: 200px;
    margin-right: 1%;
}

.cart {
    display: flex;
    text-align: center;
    align-items: center;
}

.korpa {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 2%;
    height: 50%;
    border: 0px;
    border-radius: 20px;
    padding: 2%;    
}

.naslovi {
    background-color: red;
    color: white;
    border: .5px solid red;
}

#slikakorpa {
    float: left;
    margin: 1%;
}

#cccena {
    padding-right: 2%;
}

.nasloviat {
    padding: 1%;
}

#productkorpa {
    float: left;
    text-align: start;
}

#ukloni {
    color:red;
    text-decoration: none;
}

#ukloni:hover {
    color:black;
    text-decoration: none;
    transition: .5s;
}

#productkolicina {
    text-align: center;
    width: 40%
}

.korpaproizvodi {
    background-color: rgb(229, 229, 229);
}

#cena111 {
    padding-right: 2%;
}

.total {
    margin-bottom: 1%;
    display: flex;
    justify-content: end;
    margin-right: 5%;
}

.totalcina {
    border: 0;
    border-top: 2px solid red;
    margin-right: 5.2%;
}

.ukupnored {
    padding: 2%;
}

#ukupno {
    color: black;
    padding: 10%;
    margin-right: 50%;
    width: 100%;
    width: max-content;
}

.totaltotal {
    border-top: .5px solid rgb(177, 177, 177);
}



.gotovo {
    float: top;
    display: flex;
    justify-content: end;
    margin-right: 10%;
    width:100%;
    margin-bottom: 4%;
}

#dosta {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 10px;
    height: 5%;
    width: 390px;
    font-size: 100%;
    padding-left: 2%;
    padding-right: 2%;
    border: none;
    margin-right: 9.5%;
}


#dosta:hover {
    background-color: black;
    transition: .5s;

}

#ukloni {
    color: red;
    padding: 5px;
}

#ukloni:hover {
    color: red;
}

#uredi {
    padding: 5px;
    color: rgb(0, 0, 0);
}

#uredi:hover {
    color: rgb(0, 0, 0);
}

.naslovdugme {
    position: relative;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-right: 3%;
}

#addproduct {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 8px;
}

#addproduct:hover {
    text-decoration: none;
    background-color: white;
    color: black;
    transition: .3s;
}


#korisnicinaslov {
    position: absolute;
    top: 0;
    right: 50%;
    transform : translate(50%, 0);
}

.korisnicitab {
    margin-top: 2%;
    margin-bottom: 4%;
}

#headkorisnicirow {
    background-color: red;
    border: red;
}

#headkorisicni1 {
    text-align: center;
    width: fit-content;
}

#headkorisicni1:hover {
    background-color: white;
    color: black;
}

.headkorisnici:hover {
    background-color: white;
    color: black;
}

.headkorisicni {
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
    border-spacing: 1%;
}


.headkorisicni:hover {
    background-color: white;
    color: black;
    border: white;
}

#korisnicirow {
    background-color: white;
}

#usernamelink {
    color: red;
}

.profilhead {
    background-color: red;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2%;
}

#pfp {
    border-radius: 100px;
    margin-top: 3%;
    margin-bottom: 2%;
}

#usernamehead {
    color: white;
}

.profilbody {
    background: linear-gradient(rgb(255, 255, 255),#e9ecef);
    height: 20%;
}

#bodyhead {
    padding-top: 2%;
    padding-bottom: 2%;
}

#infopfp {
    margin-left: 10%;
    margin-right: 25%;
    margin-bottom: 5%;
    width: 80%;
    font-size: 20px;
    text-align: center;
}

.info1 {
    padding-bottom: 5%;
}

.karticeutisci1 {
    display: flex;
    flex-direction: column;
}

.karticaocena {
    display: flex;
    justify-content: start;
}

#pfpocena {
    border-radius: 100px;
}

#usernameocena {
    padding-top: 8px;
    padding-left: 5px;
}

.utisci {
    padding: 2%;
    background-color: gray;
    width: 400px;
    border-radius: 20px;
}

#naslovadd {
    text-align: center;
    margin-top: 2%;
}

#addforma {
    margin: 2% 10% 2% 10%;
    padding-top: 3%;
}

.addforma1 {
    background: radial-gradient(rgba(195, 195, 195, 0.704), rgb(233, 236, 239));
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 30px;
}

#forma1 {
    padding: 2%;
}

#forma2 {
    padding: 2%;
}

#addpbut {
    padding: 9px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 350px;

}

.dugme {
    display: flex;
    justify-content: center;
}

#kategorija {
    border-radius: 10px;
    padding: 3px;
}

#imep, #proiz, #cena{
    border-radius: 10px;
    padding: 3px;
    width: 269px;
}

.karticarev {
    background-color: rgb(255, 255, 255);
    padding: 4%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
    margin-top: 1%;
    min-width: 230px;
}

#pfprev {
    border-radius: 100px;
}

.pfrev {
    display: flex;
    justify-content: start;
}

#revnaslov {
    padding: 2%;
}

#usernamerev {
    padding-top: 10px;
    padding-left: 5px;
}

#reviewstar {
    color: rgb(255, 179, 0);
}

.handle {
    display: flex;
    justify-content: space-evenly;
    width: 60px;
}

#iiii {
padding-left: 5px;
color: black;
}